bin
ChoresOutsideServer/**/*.class
.idea
*.iml

Chores/build-log.xml
Chores/build.log
Chores/gen/
Chores/libs/Parse-1.3.2-javadoc/
Chores/libs/Parse-1.3.2.jar.properties
Chores/libs/Parse-1.3.2.zip
Chores/libs/achartengine-1.1.0-demo-source.zip
Chores/libs/allclasses-frame.html
Chores/libs/allclasses-noframe.html
Chores/libs/constant-values.html
Chores/libs/deprecated-list.html
Chores/libs/help-doc.html
Chores/libs/index-all.html
Chores/libs/index.html
Chores/libs/org/
Chores/libs/overview-frame.html
Chores/libs/overview-summary.html
Chores/libs/overview-tree.html
Chores/libs/package-list
Chores/libs/resources/
Chores/libs/serialized-form.html
Chores/libs/stylesheet.css
Chores/libs/third_party_licenses.txt
ChoresServer/lib/parse-1.2.12.js
