<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.ac.huji.chores"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="il.ac.huji.chores.MyChoresActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="il.ac.huji.chores.ApartmentSettingsFragment"
            android:label="@string/title_activity_apartment_settings" >
        </activity>
        <activity
            android:name="il.ac.huji.chores.ApartmentSettingsActivity"
            android:label="@string/title_activity_apartment_settings" >
        </activity>
        <activity
            android:name="il.ac.huji.chores.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="il.ac.huji.chores.SettingsFragment"
            android:label="@string/title_activity_settings_fragment" >
        </activity>
        <activity
            android:name="il.ac.huji.chores.MyChoresActivity"
            android:label="@string/title_activity_my_chores" >
        </activity>
        <activity
            android:name="il.ac.huji.chores.NewApartmentDialogActivity"
            android:label="" >
        </activity>
        <activity
            android:name="il.ac.huji.chores.ChoresActionBarActivity"
            android:label="@string/title_activity_chores_action_bar" >
        </activity>
        <activity
            android:name="il.ac.huji.chores.NewChoreDialogActivity"
            android:label="@string/title_activity_new_chore_dialog" >
        </activity>
    </application>

</manifest>